<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Cadastro de Lote</title>
</head>

<body>
  <!-- conteudo principal -->
  <main layout:fragment="conteudo" th:fragment="formulario" id="main" class="w-full">
    <div class="m-10">
      <h1 class="text-3xl">Confirme os detalhes do Aluguel</h1>
      <!-- Formulario -->
      <form th:hx-post="@{/alugueis/alugar}" hx-target="#main" hx-swap="outerHTML" th:object="${aluguel}">
        <div class="relative w-full md:w-1/2">
          <label for="produto" class="block text-gray-700 font-medium mb-2 mt-6">Produto</label>
          <input type="text" th:value="${session.produto.nome}" class="block w-full px-4 py-3 text-gray-500 disabled:opacity-50 disabled:pointer-events-none border-gray-300 rounded-lg focus:border-gray-500 focus:ring-gray-500" readonly />
        </div>

        <div th:replace="~{layout/fragments/forms::inputdata ('Data Inicio', 'dataInicio')}">...</div>

        <div th:replace="~{layout/fragments/forms::inputdata ('Data Final', 'dataFim')}">...</div>

        <div th:replace="~{layout/fragments/forms::inputtext ('Valor Total', 'valorTotal')}">...</div>

        <br />
        <button type="submit" class="py-3 px-4 inline-flex items-center mt-5 gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none">Alugar</button>
      </form>
      <div th:if="${notificacao != null}" th:object="${notificacao}">
        <input type="hidden" id="mensagem" th:value="*{mensagem}" />
        <input type="hidden" id="tipo" th:value="*{tipo}" />
        <input type="hidden" id="intervalo" th:value="*{intervalo}" />
      </div>
    </div>

    <div th:replace="~{layout/fragments/csrf :: csrf}"></div>
  </main>
  <!-- !conteudo principal -->
</body>

</html>